html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  position: relative;
}

.banner {
  background-color: #2b3851;
  height: 240px;
}

.robot {
  width: 320px;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  bottom: -23%;
}

.robot-body {
  width: 320px;
}

.robot-brain {
  width: 46px;
  transform: translateX (-50%);
  left: 43%;
  position: absolute;
  top: 35px;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  top: -40px;
}

.robot-head-right{
  left: 160px;
}

.robot-head-left{
  left: 35px;
}

.robot:hover .robot-head-left {
  top: 25;
  left: 0;
}

.robot:hover .robot-head-right {
  top: 25;
  right: 0;
  transform: translateX(25%);
}

.robot:hover .robot-brain {
  top: 0;
